.center{
  display: flex;
  /* 水平置中 */
  justify-content: center;    
  /* 垂直置中 */
  align-content: center;      
  flex-wrap: wrap;  
}

body{
font-family: 'Open Sans', sans-serif;
}

.size-30{
  font-size:30px
}

.size-20{
  font-size:20px
}

.size-10{
  font-size:10px
}

.size-5{
  font-size:5px
}


.bold{
  font-weight:bold;
}

.lighter{
  font-weight:lighter;
}



.card {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.card img {
  width: 60px;
  border-radius: 10px;
  
}

.header {
  padding-top: 250px;
  padding-bottom: 250px;
  text-align: center;
}
